.search-wrapper {
  position: relative;
  margin: 10px 0;
}

.device-desktop .search-wrapper {
  display: inline-block;
}

.device-desktop .search-wrapper:not(:last-child) {
  margin-right: 5px;
}

.device-mobile .search-input > .input {
  display: flex;
}

.ac .highlight {
  background: rgba(105, 213, 177, 0.3);
}

.ac .ac-menu {
  position: absolute;
  z-index: 11;
  left: 15px;
  width: calc(100% - 15px);
  max-height: 150px;
  overflow: auto;
  background: #fff;
}

.ac .ac-item {
  cursor: pointer;
  padding: 5px;
}