.label {
  position: absolute;
  top: -10px;
  left: 25px;
  background-color: #fff;
  text-transform: uppercase;
  color: #4a4a4a;
  z-index: 10;
  font-weight: bold;
}

.input-container {
  position: relative;
  margin-top: 20px;
}

.input {
  width: 250px;
  height: 40px;
  background: none;
  border: none;
  border: 1px solid rgba(155, 155, 155, 0.5);
  border-radius: 2px;
  margin-left: 15px;
  padding-left: 10px;
  color: var(--tag-color);
}
