# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env*
.history/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# npm
package-lock.json

#editors
.idea
.vscode

public/sitemap.xml

# Cypress
cypress/videos
cypress/screenshots

# ESLint
.eslintcache

#debug
debug.log

# Next.js
.next
server/src/app.module.ts
server/src/logger.ts
server/src/main.ts
server/src/config/index.ts
server/src/database/database.module.ts
server/src/database/database.providers.ts
server/src/middlewares/auth.middleware.ts
server/src/modules/admin/admin.controller.ts
server/src/modules/admin/admin.module.ts
server/src/modules/admin/__tests__/mentors.controller.spec.ts
server/src/modules/common/auth0.service.ts
server/src/modules/common/common.module.ts
server/src/modules/common/common.providers.ts
server/src/modules/common/file.service.ts
server/src/modules/common/mentors.service.ts
server/src/modules/common/users.service.ts
server/src/modules/common/dto/application.dto.ts
server/src/modules/common/dto/filter.dto.ts
server/src/modules/common/dto/findOneParams.dto.ts
server/src/modules/common/dto/mentorfilters.dto.ts
server/src/modules/common/dto/pagination.dto.ts
server/src/modules/common/dto/user-record.dto.ts
server/src/modules/common/dto/user.dto.ts
server/src/modules/common/interfaces/application.interface.ts
server/src/modules/common/interfaces/filemeta.interface.ts
server/src/modules/common/interfaces/user-record.interface.ts
server/src/modules/common/interfaces/user.interface.ts
server/src/modules/common/pipes/pagination.pipe.ts
server/src/modules/common/schemas/application.schema.ts
server/src/modules/common/schemas/user-record.schema.ts
server/src/modules/common/schemas/user.schema.ts
server/src/modules/email/email.module.ts
server/src/modules/email/email.service.ts
server/src/modules/email/interfaces/email.interface.ts
server/src/modules/lists/favorites.controller.ts
server/src/modules/lists/list.providers.ts
server/src/modules/lists/lists.controller.ts
server/src/modules/lists/lists.module.ts
server/src/modules/lists/lists.service.ts
server/src/modules/lists/__tests__/favorites.controller.spec.ts
server/src/modules/lists/__tests__/lists.controller.spec.ts
server/src/modules/lists/dto/list.dto.ts
server/src/modules/lists/interfaces/list.interface.ts
server/src/modules/lists/schemas/list.schema.ts
server/src/modules/mentors/mentors.controller.ts
server/src/modules/mentors/mentors.module.ts
server/src/modules/mentors/__tests__/mentors.controller.spec.ts
server/src/modules/mentorships/mentorships.controller.ts
server/src/modules/mentorships/mentorships.module.ts
server/src/modules/mentorships/mentorships.providers.ts
server/src/modules/mentorships/mentorships.service.ts
server/src/modules/mentorships/mentorshipsToDto.ts
server/src/modules/mentorships/__tests__/mentorships.controller.spec.ts
server/src/modules/mentorships/dto/mentorship.dto.ts
server/src/modules/mentorships/dto/mentorshipSummary.dto.ts
server/src/modules/mentorships/dto/mentorshipUpdatePayload.dto.ts
server/src/modules/mentorships/interfaces/mentorship.interface.ts
server/src/modules/mentorships/schemas/mentorship.schema.ts
server/src/modules/reports/reports.controller.ts
server/src/modules/reports/reports.module.ts
server/src/modules/reports/reports.service.ts
server/src/modules/reports/__tests__/reports.controller.spec.ts
server/src/modules/reports/interfaces/totals.interface.ts
server/src/modules/users/users.controller.ts
server/src/modules/users/users.module.ts
server/src/modules/users/__tests__/users.controller.spec.ts
server/src/utils/mimes.ts
server/src/utils/objectid.ts
server/src/utils/request.d.ts

# Local Netlify folder
.netlify
netlify/functions/**/*.js
# Environment variables
.env*
.netlify