.social-link {
  margin: 0px 10px;
}

.social-wrapper {
  align-self: center;
  margin-top: 30px;
}

@media all and (max-width: 576px) {
  .social-link {
    margin: 0 5px;
  }

  .social-wrapper {
    align-self: center;
  }
}
