<div style="text-align: center; font-size: 18px">
  <table width="100%">
    <tbody>
      <tr>
        <td align="center">
          <img
            style="width: 39%; max-width: 234px"
            src="http://cdn.mcauto-images-production.sendgrid.net/83a8af126d5ca8ff/70fa68eb-a954-47c6-9798-306089b6a4e3/600x370.jpg"
            alt="Illustration"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <h2 style="font-size: 26px; font-weight: normal">Hey <%= name %></h2>
  <h1
    style="
      font-size: 32px;
      line-height: 42px;
      font-weight: normal;
      color: #69d5b1;
    "
  >
    You're almost there!
  </h1>
  <p>Please click the link below to verify your email</p>
  <p style="margin-top: 10px">
    <a
      href="<%= link %>"
      style="
        background-color: #00bc89;
        border: 1px solid #333333;
        border-color: #00bc89;
        border-radius: 6px;
        border-width: 1px;
        color: #ffffff;
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0px;
        line-height: 16px;
        padding: 12px 18px 12px 18px;
        text-align: center;
        text-decoration: none;
      "
      target="_blank"
      >Verify</a
    >
  </p>
  <p style="margin-top: 10px">
  <small>
    (Or copy and paste this url
    <a herf="<%= link %>" target="_blank"><%= link %></a> into your browser)
  </p>
</div>
