<div style="text-align: center; font-size: 18px; line-height: 1.5">
  <table width="100%">
    <tbody>
      <tr>
        <td align="center">
          <img
            style="width: 39%; max-width: 234px;"
            src="http://cdn.mcauto-images-production.sendgrid.net/83a8af126d5ca8ff/70fa68eb-a954-47c6-9798-306089b6a4e3/600x370.jpg"
            alt="Illustration"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <h2 style="font-size: 26px; font-weight: normal;">
    Congratulations, <%= menteeName %>!
  </h2>
  <h1
    style="font-size: 32px; line-height: 42px; font-weight: normal; color: #69d5b1"
  >
    Mentorship Request Accepted
  </h1>
  <p>
    Your request for mentorship with
    <span style="font-style: italic; font-weight: bold;"><%= mentorName %></span>
    has been approved.
  </p>
  <p>
    <%= mentorName %> asks that you contact them at
    <a href="<%= contactURL %>"><%= contactURL %></a> in order to get started.
  </p>
  <% if (openRequests) { %>
    <p>
      👉 Note that you have <%= openRequests %> open mentorship requests.
      Once the mentorship is actually started, please cancel your other similar requests via your <a
      href="https://mentors.codingcoach.io/me/requests"
      target="_blank"
      rel="noreferrer nofllow"
      >Backoffice</a
    >.
    </p>
  <% } %>
</div>
