<div style="text-align: center; font-size: 18px; line-height: 1.5">
  <table width="100%">
    <tbody>
      <tr>
        <td align="center">
          <img
            style="width: 39%; max-width: 234px;"
            src="http://cdn.mcauto-images-production.sendgrid.net/83a8af126d5ca8ff/10aaff15-842c-4594-acf5-ad4ed5b84e61/600x495.jpg"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <h2 style="font-size: 26px; font-weight: normal;">
    Hello, <%= mentorName %>!
  </h2>
  <h1
    style="font-size: 32px; line-height: 42px; font-weight: normal; color: #69d5b1"
  >
    A kindly reminder
  </h1>
  <p>
    We just want to remind you that
    <span style="font-weight: bold; font-style: italic;"><%= menteeName %></span>
    would like you to mentor them.
  </p>
  <p>Here's a brief message they wanted to share with you:</p>
  <pre><%= message %></pre>
  <p>
    Please check your account to review the full request and respond when you
    can. They are as excited as you are to learn everything you have to share!
  </p>
  <p>
    If you can't take this mentorship, it's perfectly fine.
    Please let <%= menteeName %> know by declining the request.
  </p>
  <p>
    If you can't take more mentorships now, please <a href="https://codingcoach.tawk.help/article/how-to-remove-myself-as-mentor" target="_blank" rel="noopener noreferrer" href="">set yourself</a> as "not available for new mentees".
  </p>
  <table width="100%" style="margin-top: 10px;">
    <tr>
      <td align="center" style="padding-top: 10px;">
        <a
          href="https://mentors.codingcoach.io/me/requests"
          style="background-color:#00BC89;border:1px solid #333333;border-color:#00BC89;border-radius:6px;border-width:1px;color:#ffffff;display:inline-block;font-size:16px;font-weight:normal;letter-spacing:0px;line-height:16px;padding:12px 18px 12px 18px;text-align:center;text-decoration:none"
          target="_blank"
          >Review request</a
        >
      </td>
    </tr>
    <tr>
      <td align="center" style="padding: 10px 0;">
        <a
          href="https://docs.google.com/document/d/1zKCxmIh0Sd4aWLiQncICOGm6uf38S0kJ0xb0qErNFVA/edit"
          target="_blank"
          >View mentorship guidelines</a
        >
      </td>
    </tr>
  </table>
</div>
