.switch-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  padding-left: 18px;
  justify-content: space-between;
}

@media all and (max-width: 576px) {
  .switch-container {
    padding: 0 15px;
  }
}

.switch-container > label {
  background-color: #fff;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: bold;
}

.switch-input {
  height: 20px;
}

.switch-input input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-input label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background-color: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  top: -25px;
  transition: background-color 0.35s ease-in-out;
}

.switch-input label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: left 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.switch-input input:checked + label {
  background-color: var(--tag-color);
}

.switch-input input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
