body {
  font-family: "Lato", sans-serif;
  background-color: #f8f8f8;
}

.device-desktop .filters-outer {
  text-align: center;
}

.device-desktop .filters {
  display: inline-block;
  text-align: left;
}

.device-mobile .filters {
  padding: 0 20px;
}

.main-header {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.device-mobile .main-header {
  padding: 20px;
}

.main-header .logo {
  display: flex;
  color: #a1a1a1;
  justify-content: space-between;
}

.main-header h1 {
  font-size: 48px;
}

.social {
  margin-top: 10px;
}
