body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.app {
  padding-bottom: 50px;
}

.main-header {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 30px 30px;
}

.main-header h1 {
  font-size: 48px;
}

.social {
  margin-top: 10px;
}

.sidebar-nav {
  list-style: none;
  padding-left: 20px;
  position: fixed;
  bottom: 0;
}

.sidebar-nav li {
  margin-bottom: 10px;
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

.patreon-link {
  display: block;
  margin: 20px auto 0;
  width: 150px;
}

.patreon-link img {
  max-width: 100%;
}

@media screen and (max-height: 650px) {
    .social-wrapper {
      margin-top: 10px !important;
    }
}
@media screen and (max-height: 677px) {
    .sidebar-nav {
        margin-top: 5px;
        position: relative;
    }
    .sidebar-nav li {
      margin-bottom: 5px;
    }
    .sidebar {
        overflow-y: auto;
    }
    .patreon-link {
      margin: 5px auto 0;
    }
    .logo {
      margin: 5px 30px;
    }
}

@media all and (max-width: 800px) {
  .sidebar-nav {
    position: relative;
    display: none;
    padding: 0;
    justify-content: space-evenly;
    margin-top: 30px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #65d6af;
  padding: 10px 0;
  z-index: 100;
}

footer a,
footer a:hover {
  padding: 0 3px;
  color: #fff;
  text-decoration: underline;
}

@media all and (max-width: 800px) {
  .logo {
    margin: 10px;
  }

  .logo svg {
    height: 80px;
  }

  .patreon-link {
    margin: 5px auto 10px;
    width: 130px;
  }

  .patreon-link img {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .logo {
    margin: 10px auto;
  }
}
