body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.app {
  padding-bottom: 50px;
}

.main-header {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  color: #a1a1a1;
  justify-content: space-between;
  margin: 30px 30px;
}

.main-header h1 {
  font-size: 48px;
}

.social {
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #65d6af;
  padding: 10px 0;
  z-index: 100;
}

footer a,
footer a:hover {
  padding: 0 3px;
  color: #fff;
  text-decoration: underline;
}

@media all and (max-width: 576px) {
  .logo {
    display: flex;
    justify-content: center;
  }
}
