body {
  font-family: "Lato", sans-serif;
}

.app {
  padding-bottom: 50px;
}

.main-header {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .logo {
  display: flex;
  color: #a1a1a1;
  justify-content: space-between;
}

.main-header h1 {
  font-size: 48px;
}

.social {
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #65d6af;
  padding: 10px 0;
  z-index: 100;
}

footer a,
footer a:hover {
  padding: 0 3px;
  color: #fff;
  text-decoration: underline;
}

@media all and (min-width: 577px) {
  main {
    padding-left: var(--filter-width);
  }
}

@media all and (max-width: 576px) {
  .main-header {
    padding: 10px;
  }

  .main-header .logo svg {
    width: 100px;
    height: 58.333333333333336px;
  }

  .main-header nav svg {
    width: 15px;
    height: 15px;
  }
}