#mentorCount {
  font-size: 0.65em;
  padding-left: 0.5em;
  font-weight: 400;
}

#filter {
  background-color: rgba(105, 213, 177, 0.3);
  color: #4a4a4a;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 15px 0px 15px 30px;
}

.toggle-filter {
  float: right;
  margin-right: 10px;
  background: none;
  border: none;
}

.toggle-filter i {
  transition: transform 0.15s ease;
}

.toggle-filter i.show-filters {
  transform: rotateZ(90deg);
}

@media all and (max-width: 580px) {
  .inputs {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .filter-wrapper {
    order: 2;
  }
}

@media all and (min-width: 580px) {
  .toggle-filter {
    display: none;
  }
  /* Set the sidebar to fixed position */
  /* Position the sidebar at the top of the page */
  .sidebar {
    order: 2;
    position: fixed;
    top: 0;
  }
}