.card {
  --avatar-offset: 54px;
  --avatar-dim: 108px;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  margin-top: calc(var(--avatar-offset) + 20px);
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0 0 4px 0 rgba(17, 22, 26, 0.16), 0 2px 4px 0 rgba(17, 22, 26, 0.08), 0 4px 8px 0 rgba(17, 22, 26, 0.08);
  display: grid;
  grid-auto-rows: 80px minmax(140px, auto) minmax(60px, auto) 80px;
}
.card .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
}

.card .location i {
  margin-right: 5px;
}

.card .location p {
  margin: 0;
  margin-top: 2px;
}

.card .country {
  background: transparent;
  border: none;
  cursor: pointer;
  color: hsl(0, 0%, 29%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card .country:hover {
  color: var(--tag-color);
}

.card .avatar {
  width: var(--avatar-dim);
  height: 118px;
  margin: calc(var(--avatar-offset) * -1) auto 0;
  background: transparent;
  padding: 0;
}

.avatar:hover {
  cursor: pointer;
}

.card .avatar i {
  position: absolute;
  font-size: var(--avatar-dim);
  width: var(--avatar-dim);
  height: var(--avatar-dim);
  background: hsl(0, 0%, 100%);
  color: var(--generic-avatar-color);
  border-radius: 50%;
  display: block;
}

.card .avatar img {
  display: block;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  width: var(--avatar-dim);
  height: var(--avatar-dim);
}

.card .avatar img.broken {
  visibility: hidden;
}

.card .name {
  color: hsl(0, 0%, 29%);
  font-size: 20px;
  margin: 0 0 5px;
  word-break: break-word;
}

.card .title {
  word-break: break-word;
  color: hsl(0, 0%, 29%);
  margin: 0 0 5px;
  font-weight: 400;
}

.card .description {
  font-style: italic;
  word-break: break-word;

  color: #16385c;
  font-weight: 600;
  margin-top: 0;
  padding: 5px 2.5px;
  border-radius: 10px;
}

.card .tags {
  z-index: 2;
}

.card .tag {
  color: hsl(0, 0%, 100%);
  background: var(--button-dark-bg);
  border: 0;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2.5px 5px;
  line-height: 1;
  user-select: none;
  text-transform: lowercase;
  font-family: monospace;
}

.card .tag:hover {
  cursor: pointer;
}

.card .channels {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.card .channels .channel-inner {
  display: flex;
  justify-content: space-around;

  background-color: #d0f8ef;
  align-items: center;
  padding: 20px 10px 5px 10px;
  margin-right: -20px;
  margin-left: -20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.card .wave {
  position: absolute;
  bottom: 60px;
  left: 0;
  background-color: hsl(0, 0%, 100%);
  height: 30px;
  width: 100%;
  border-radius: 0% 0% 50% 50%;
}

.card .channels button {
  background: none;
  border: none;
  cursor: pointer;
}

.card .channels a,
.card .channels button {
  color: #16385c;
  text-decoration: none;
}

.card .channels a .icon,
.card .channels button .icon {
  transition: transform 0.3s ease;
  transform-origin: 50%;
}

.card .channels a:hover .icon {
  transform: rotate(45deg);
}

.card .channels button:hover .icon {
  transform: rotate(-90deg);
}

.card .channels button:active .icon {
  transform: rotate(-110deg);
}

.card .channels a .type::first-letter {
  text-transform: uppercase;
}

.card .channels a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .channels .type {
  margin: 5px 0;
}

.channel-label {
  text-decoration: none;
}

.card .like-button {
  background: none;
  border: none;
  cursor: pointer;
}

.card .liked,
.card .like-button:hover i {
  color: hsl(0, 71%, 51%);
}

@media all and (max-width: 800px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}
