.header-offcanvas {
    outline: currentcolor none 0px;
    background: #00e5b3;
    transition: transform 0.25s ease-out 0s;  
    visibility: visible;
    color: white;
    display: block;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    backface-visibility: hidden;
    transition-duration: 0.2s !important;
    transition-property: -ms-transform, transform, transform ;
    transition-timing-function: ease-out;
    transform: translateY(0px);
  }
  
  .m-header-nav__open {
    font-size: 38px;
    color: #05345e;
    /* border: 1px solid #b1becb; */
    padding: 10px 15px 0px 15px;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 100;
  }
  
  .m-header-nav__open:hover {
    color: #69d5b1;
    transition-duration: 0.2s;
    transition-property: -ms-transform, transform, transform ;
    transition-timing-function: ease-out;
  }
  
  
  .m-header-nav__close {
    font-size: 38px;
    color: #ffffff;
    padding: 10px 15px 0px 15px;
    position: absolute;
    display: block;
    top: 15px;
    right: 25px;
  }
  
  .m-header-nav__close:hover {
    color: #05345e;
    transition-duration: 0.2s;
    transition-property: -ms-transform, transform, transform ;
    transition-timing-function: ease-out;
  }
  
  
  .m-header-nav {
    margin-top: 6rem;
    
  }
  
  .m-header-nav__modal {
    line-height: 2rem;
    list-style: none;
    position: absolute;
    bottom: 1rem;
    left: inherit;
   
}
  
  .m-header-nav__menu {
    list-style: none;
    line-height: 4rem;
    color: #ffffff;
    
  }
  
  .m-header-nav__menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    width: 100%;
    display: block;

}

  .m-header-nav__menu li:hover {
    background: rgba(255, 255, 255, 0.96);
    text-decoration: none;
    font-size: 24px;
    margin-left: -40px;
    border-left: 6px solid #05345e;
    transition-duration: 0.2s;
    transition-property: -ms-transform, transform, transform ;
    transition-timing-function: ease-out;

}
  .m-header-nav__menu a:hover {
    color: #00e5b3;
    padding-left: 34px;

}