.header-offcanvas {
    outline: currentcolor none 0px;
    background: #00e5b3;
    transition: transform 0.25s ease-out 0s;
    visibility: visible;
    color: white;
    display: block;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    backface-visibility: hidden;
    transition-duration: 0.2s !important;
    transition-property: -ms-transform, transform, transform ;
    transition-timing-function: ease-out;
    transform: translateY(0px);
  }

  .m-header-nav__open {
    font-size: 38px;
    color: #05345e;
    padding: 10px 15px 0px 15px;
    position: absolute;
    top: 15px;
    right: 70px;
    z-index: 100;
  }

  .m-header-nav__open:hover {
    color: #69d5b1;
    transition-duration: 0.2s;
    transition-property: -ms-transform, transform, transform ;
    transition-timing-function: ease-out;
  }


  .m-header-nav__close {
    font-size: 38px;
    color: #ffffff;
    padding: 10px 15px 0px 15px;
    position: absolute;
    display: block;
    top: 15px;
    right: 70px;
  }

  .m-header-nav__close:hover {
    color: #05345e;
    transition-duration: 0.2s;
    transition-property: -ms-transform, transform, transform ;
    transition-timing-function: ease-out;
  }

/* Mobile Header Modal */

.m-header-nav__modal {
  line-height: 2.5rem;
  font-size: 16px;
  list-style: none;
  position: absolute;
  bottom: 1rem;
  left: inherit;
  cursor: pointer;

}

.m-header-nav__modal__item:hover {
  color: #073964a6;
  transition-duration: 0.2s;
  transition-property: -ms-transform, transform, transform ;
  transition-timing-function: ease-out;
}