.icons {
  display: flex;
}

.icon {
  width: 44px;
  margin: 5px;
  padding: 5px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  border: 1px solid #aaa;

  svg {
    width: 100%;
  }
}

.dark {
  background: #bbb;
}