body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
}

.app {
  text-align: center;
}

.main-header {
  display: flex;
  color: #fff;
  padding: 30px 0;
  justify-content: space-around;
  background: linear-gradient(to right, #00c595 0%,#7ef0cc 100%);
}

.main-header h1 {
  font-size: 48px;
}

.mentors-wrapper {
  margin-top: 15px;
}