button.tertiary {
  background-color: transparent !important;
}

.ui.corner.label .icon {
  position: absolute;
  top: 0.64285714em;
}

.ui.corner.label.right .icon {
  right: 0.48571429em;
  left: auto;
}

.ui.corner.label.left .icon {
  left: 0.48571429em;
  right: auto;
}

.ui.card.mentor-card {
  justify-content: space-between;
}

.ui.card.mentor-card:after {
  display: none;
}
